.elementor-28710 .elementor-element.elementor-element-7783a7b{--display:flex;--min-height:100vh;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-7783a7b:not(.elementor-motion-effects-element-type-background), .elementor-28710 .elementor-element.elementor-element-7783a7b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#02130F;}.elementor-28710 .elementor-element.elementor-element-b574219{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--flex-wrap:nowrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-2812561{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--flex-wrap:nowrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-10f80b6{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--flex-wrap:nowrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-3500211{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--flex-wrap:nowrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-d549992{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--flex-wrap:nowrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-125249f{--display:flex;--min-height:100vh;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-125249f:not(.elementor-motion-effects-element-type-background), .elementor-28710 .elementor-element.elementor-element-125249f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#02130F;}.elementor-28710 .elementor-element.elementor-element-414885f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-28710 .elementor-element.elementor-element-414885f{text-align:center;}.elementor-28710 .elementor-element.elementor-element-414885f .elementor-heading-title{font-family:"Argentum Sans", Sans-serif;font-size:45px;font-weight:400;text-transform:uppercase;line-height:1.1666em;color:#FFFFFF;}.elementor-28710 .elementor-element.elementor-element-317024c{--display:flex;}.elementor-28710 .elementor-element.elementor-element-75ab6a0{--display:flex;}.elementor-28710 .elementor-element.elementor-element-65e99c4{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--flex-wrap:nowrap;}.elementor-28710 .elementor-element.elementor-element-3d63291{--display:flex;}.elementor-28710 .elementor-element.elementor-element-ba18706{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--flex-wrap:nowrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-a065651{--display:flex;}.elementor-28710 .elementor-element.elementor-element-ae4e4bf{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--flex-wrap:nowrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-ce1782a{--display:flex;}.elementor-28710 .elementor-element.elementor-element-5f722ee{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--flex-wrap:nowrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}@media(max-width:1024px){.elementor-28710 .elementor-element.elementor-element-414885f .elementor-heading-title{font-size:3rem;}}@media(min-width:768px){.elementor-28710 .elementor-element.elementor-element-2812561{--width:0%;}.elementor-28710 .elementor-element.elementor-element-10f80b6{--width:16%;}.elementor-28710 .elementor-element.elementor-element-3500211{--width:16%;}.elementor-28710 .elementor-element.elementor-element-ba18706{--width:0%;}.elementor-28710 .elementor-element.elementor-element-ae4e4bf{--width:16%;}.elementor-28710 .elementor-element.elementor-element-5f722ee{--width:16%;}}@media(max-width:767px){.elementor-28710 .elementor-element.elementor-element-125249f{--width:100%;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:30px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;--z-index:9;}.elementor-28710 .elementor-element.elementor-element-414885f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 08px 0px;}.elementor-28710 .elementor-element.elementor-element-414885f .elementor-heading-title{font-size:30px;}.elementor-28710 .elementor-element.elementor-element-317024c{--width:100%;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-75ab6a0{--width:45%;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-65e99c4{--gap:15px 15px;--row-gap:15px;--column-gap:15px;}.elementor-28710 .elementor-element.elementor-element-3d63291{--width:45%;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-ba18706{--width:45%;--gap:15px 15px;--row-gap:15px;--column-gap:15px;--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}.elementor-28710 .elementor-element.elementor-element-a065651{--width:45%;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-ae4e4bf{--width:45%;--gap:15px 15px;--row-gap:15px;--column-gap:15px;--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}.elementor-28710 .elementor-element.elementor-element-ce1782a{--width:45%;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-28710 .elementor-element.elementor-element-5f722ee{--width:45%;--gap:15px 15px;--row-gap:15px;--column-gap:15px;--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}}/* Start custom CSS for container, class: .elementor-element-b574219 */.carouselverticalone {
    animation: looping 10s linear 0s infinite none;
}

.verticalcolumnone  {
    max-height: 750px;
        height: 750px;
    width: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
   
}

@keyframes looping{
0% {
    transform: translateY(0px);
}
100% {
    transform: translateY(-100%);
}
}

@media only screen and (max-width: 360px) {
	.verticalcolumnone  {
	max-height: 350px;
        height: 350px;
    width: 100px;
	}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-2812561 */.carouselverticaltwo {
    animation: looping 12s linear 0s infinite none reverse;
     animation-direction: reverse;
}

.verticalcolumntwo   {
    margin-top: 5rem;
    max-height: 700px;
        height: 700px;
    width: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    
}

@keyframes looping{
0% {
    transform: translateY(0px);
}
100% {
    transform: translateY(-100%);
}
}

@media only screen and (max-width: 360px) {
	.verticalcolumntwo  {
	max-height: 350px;
        height: 350px;
    width: 100px;
	}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-10f80b6 */.carouselverticalthree {
    animation: looping 13s linear 0s infinite none;
   
    
}
.img-one {
    box-shadow: 0 5px 15px rgba(0,0,0,.2)
}

.verticalcolumnthree  {
    max-height: 800px;
        height: 800px;
    width: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    
}

@keyframes looping{
0% {
    transform: translateY(0px);
}
100% {
    transform: translateY(-100%);
}
}

@media only screen and (max-width: 360px) {
	.verticalcolumnthree  {
	max-height: 350px;
        height: 350px;
    width: 100px;
	}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-3500211 */.carouselverticaltwo {
    animation: looping 12s linear 0s infinite none reverse;
     animation-direction: reverse;
}

.verticalcolumntwo   {
    margin-top: 5rem;
    max-height: 700px;
        height: 700px;
    width: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    
}

@keyframes looping{
0% {
    transform: translateY(0px);
}
100% {
    transform: translateY(-100%);
}
}

@media only screen and (max-width: 360px) {
	.verticalcolumntwo  {
	max-height: 350px;
        height: 350px;
    width: 100px;
	}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d549992 */.carouselverticalone {
    animation: looping 10s linear 0s infinite none;
}

.verticalcolumnone  {
    max-height: 750px;
        height: 750px;
    width: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
   
}

@keyframes looping{
0% {
    transform: translateY(0px);
}
100% {
    transform: translateY(-100%);
}
}

@media only screen and (max-width: 360px) {
	.verticalcolumnone  {
	max-height: 350px;
        height: 350px;
    width: 100px;
	}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-65e99c4 */.carouselverticalone {
    animation: looping 10s linear 0s infinite none;
}

.verticalcolumnone  {
    max-height: 750px;
        height: 750px;
    width: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
   
}

@keyframes looping{
0% {
    transform: translateY(0px);
}
100% {
    transform: translateY(-100%);
}
}

@media only screen and (max-width: 360px) {
	.verticalcolumnone  {
	max-height: 350px;
        height: 350px;
    width: 100px;
	}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-ba18706 */.carouselverticaltwo {
    animation: looping 12s linear 0s infinite none reverse;
     animation-direction: reverse;
}

.verticalcolumntwo   {
    margin-top: 5rem;
    max-height: 700px;
        height: 700px;
    width: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    
}

@keyframes looping{
0% {
    transform: translateY(0px);
}
100% {
    transform: translateY(-100%);
}
}

@media only screen and (max-width: 360px) {
	.verticalcolumntwo  {
	max-height: 350px;
        height: 350px;
    width: 100px;
	}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-ae4e4bf */.carouselverticalthree {
    animation: looping 13s linear 0s infinite none;
   
    
}
.img-one {
    box-shadow: 0 5px 15px rgba(0,0,0,.2)
}

.verticalcolumnthree  {
    max-height: 800px;
        height: 800px;
    width: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    
}

@keyframes looping{
0% {
    transform: translateY(0px);
}
100% {
    transform: translateY(-100%);
}
}

@media only screen and (max-width: 360px) {
	.verticalcolumnthree  {
	max-height: 350px;
        height: 350px;
    width: 100px;
	}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-5f722ee */.carouselverticaltwo {
    animation: looping 12s linear 0s infinite none reverse;
     animation-direction: reverse;
}

.verticalcolumntwo   {
    margin-top: 5rem;
    max-height: 700px;
        height: 700px;
    width: 200px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    
}

@keyframes looping{
0% {
    transform: translateY(0px);
}
100% {
    transform: translateY(-100%);
}
}

@media only screen and (max-width: 360px) {
	.verticalcolumntwo  {
	max-height: 350px;
        height: 350px;
    width: 100px;
	}
}/* End custom CSS */